[submodule "dotfiles/vim/pathogen"]
	path = dotfiles/vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotfiles/vim/bundle/fuzzyfinder"]
	path = dotfiles/vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "dotfiles/vim/bundle/l9"]
	path = dotfiles/vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "dotfiles/vim/bundle/fugitive"]
	path = dotfiles/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git

[submodule "dotfiles/vim/bundle/python-mode"]
	path = dotfiles/vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "dotfiles/vim/bundle/cvim"]
	path = dotfiles/vim/bundle/cvim
	url = https://github.com/vim-scripts/c.vim.git
[submodule "dotfiles/vim/bundle/vim-rails"]
	path = dotfiles/vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
